<div class="contact-details-container" *ngIf="contact">

    <div class="card">
      <div class="card-header">
        Contact
      </div>
      <div class="card-body">
        <p>Name: <span class="badge badge-primary">{{contact.name}}</span></p>
        <p>Email:  <span class="badge badge-primary">{{contact.email}}</span></p>
        <p>Phone:  <span class="badge badge-primary">{{contact.phone}}</span></p>
      </div>
      <div class="card-footer text-muted">
        <span class="float-md-right ">
          <button (click)="edit.emit(contact)" class="btn btn-sm btn-outline-primary"> EDIT</button>
          <button (click)="remove.emit(contact)" class="btn btn-sm btn-outline-danger"> DELETE</button>
        </span>
  
      </div>
    </div>
  
  </div>
  
  