/* You can add global styles to this file, and also import other style files */
body {
	padding-top: 5rem;
	font-family: sans-serif;
}

button {
	cursor: pointer;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.btn {
	margin: 3px;
}